@font-face {
   font-family: Karla;
   src: url(.../fonts/Karla-Regular.woff2);
}

/* Font Icons */

.fas,.fab, [class*=" fas-"], [class^="fas-"], [class^="fab-"] {
font-size: 7vmin;
color: #383838;
cursor: pointer;
}

.fas:hover,.fab:hover{
font-size: 11.5vmin !important;
}

/* portfolio text */
#text{
font-family: Karla !important;
font-size: 3vmin;
}


/*Delet Font "Decoration" */
a:hover, a:focus, a:active, a:visited, a:link{
    text-decoration: none;
}

/* Gray Text */
#grayText{
font-family: Karla !important;
font-size: 3vmin;
}
